# Virtual environment
env/
venv/
virtualenv/

.db.sqlite3


# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Backup files
*.bak
*.swp

# MySQL database dumps (if you keep them locally)
*.sql